In [73]:
import pandas as pd
from os import listdir
from os.path import isfile, join

In [54]:
nome_arquivo = "0 Agua Perfumada Bamboo.csv"
arquivo_csv = pd.read_csv(f"../dados/fichas/{nome_arquivo}", sep=",", skiprows=4, nrows=8)

novo_df = arquivo_csv.iloc[:, :3].drop(arquivo_csv.index[[4,5,6]], axis=0).fillna('').T.reset_index().drop("index", axis=1)

df = pd.DataFrame()

df["produto"] = [nome_arquivo.split(" ")[0]]
df["rendimento"] = novo_df.iloc[2:3, 3:4].values[0].astype(str)
df["validade"] = novo_df.iloc[1:2, 4:].values[0].astype(str)

df

  produto rendimento validade
0       0          4      6.0

In [71]:
nome_arquivos: list[str] = [f for f in listdir("../dados/fichas") if isfile(join("../dados/fichas", f))]
validades = pd.DataFrame()

for nome_arquivo in nome_arquivos:
  arquivo_csv = pd.read_csv(f"../dados/fichas/{nome_arquivo}", sep=",", skiprows=4, nrows=8)

  novo_df = arquivo_csv.iloc[:, :3].drop(arquivo_csv.index[[4,5,6]], axis=0).fillna('').T.reset_index().drop("index", axis=1)

  df = pd.DataFrame()

  df["produto"] = [int(nome_arquivo.split(" ")[0])]
  df["rendimento"] = novo_df.iloc[2:3, 3:4].values[0].astype(str)
  df["validade"] = novo_df.iloc[1:2, 4:].values[0].astype(str)

  validades = pd.concat([validades, df])

validades = validades.sort_values(by=["produto"], ascending=True)
validades.set_index("produto", inplace=True, drop=True)
validades[["validade"]]

        validade
produto
0            6.0
1            6.0
2            6.0
3            6.0
4            6.0
...          ...
57           6.0
58           6.0
59           6.0
60           6.0
61           6.0

[62 rows x 1 columns]

In [306]:
arquivo_csv = pd.read_csv(f"../fichas/Ficha Formatada - Agua Perfumada Cereja e Avelã.csv", sep=",", skiprows=13, nrows=15)

novo_df = arquivo_csv.iloc[:, :1].dropna()
novo_df["codigo "] = novo_df["codigo "].astype(int)
novo_df_1 = arquivo_csv.iloc[:, 7:8].dropna().replace(',','.', regex=True).astype(float)
novo_df["Agua Perfumada Cereja e Avelã.csv"] = novo_df_1
novo_df.set_index('codigo ', drop=True, inplace=True)

novo_df.sort_index()

         Agua Perfumada Cereja e Avelã.csv
codigo
6                                   50.000
8                                  200.000
9                                  700.000
255                                  4.000
256                                  4.000
280                                 25.000
281                                 25.000
300                                  0.125
900                                  0.200

In [74]:
nome_arquivos: list[str] = [f for f in listdir("../dados/fichas") if isfile(join("../dados/fichas", f))]
ingrediente_produto = pd.DataFrame()

for nome_arquivo in nome_arquivos:
  arquivo_csv = pd.read_csv(f".../dados/fichas/{nome_arquivo}", sep=",", skiprows=13, nrows=15)

  novo_df = arquivo_csv.iloc[:, :1].dropna()
  novo_df["codigo "] = novo_df["codigo "].astype(int)
  novo_df_1 = arquivo_csv.iloc[:, 7:8].dropna().replace(',','.', regex=True).astype(float)
  novo_df[nome_arquivo.split(" ")[0]] = novo_df_1
  novo_df.set_index('codigo ', drop=True, inplace=True)

  novo_df.sort_index()
  
  ingrediente_produto = ingrediente_produto.merge(novo_df, left_index=True, right_index=True, how='outer')


ingrediente_produto.sort_index().fillna(0, inplace=True)

ingrediente_produto.T.rename_axis("produto").astype(str).replace('nan','0', regex=True)

FileNotFoundError: [Errno 2] No such file or directory: '.../dados/fichas/0 Agua Perfumada Bamboo.csv'

In [507]:
arquivo_csv = pd.read_csv(f"../dados/Vendas 2023 - Estoque.csv", sep=",")

novo_df = arquivo_csv
novo_df.set_index('produtos', drop=True, inplace=True)

novo_df.iloc[:, 1:]

,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
produtos,,,,,,,,,,,,
Bucha Algas Marinhas,9,7,7,11,8,10,11,5,11,7,6,9
Bucha Amora e Jabuticaba,12,6,4,14,10,15,19,4,13,9,10,13
Bucha Frutas Vermelhas,8,6,6,12,12,13,16,5,11,8,5,10
Bucha Maracujá,9,3,5,10,8,9,11,3,10,6,7,10
Bucha Melancia,8,7,4,10,6,9,12,5,6,5,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...
Vela Cereja e Avelã,10,6,6,14,13,13,18,8,11,11,10,15
Vela Foliage,7,5,5,10,8,10,11,6,6,9,4,10
Vela Lavanda,5,4,4,8,10,8,9,5,9,5,3,9
Vela Morango Chantilly,10,7,4,11,13,8,11,5,9,7,8,9
Vela Vanilla,8,8,4,10,9,8,10,3,6,5,3,12

In [515]:
arquivo_csv = pd.read_csv(f"../dados/MateriaPrima.csv", sep=",")

novo_df = arquivo_csv
novo_df.set_index('código', drop=True, inplace=True)
novo_df = novo_df.drop(columns=["Frete", "unidade", "Rendimento %", "Custo und.", "Produto"])

novo_df

        Preço  quant
código
1       16,34   1000
2       16,34   1000
3       37,53    900
4          15   1000
5         8,5    500
...       ...    ...
291      14,9      1
300      2,98      1
301      0,79      1
302      0,79      1
303      0,87      1

[93 rows x 2 columns]