In [73]:
import pandas as pd
from os import listdir
from os.path import isfile, join

In [54]:
nome_arquivo = "0 Agua Perfumada Bamboo.csv"
arquivo_csv = pd.read_csv(f"../dados/fichas/{nome_arquivo}", sep=",", skiprows=4, nrows=8)

novo_df = arquivo_csv.iloc[:, :3].drop(arquivo_csv.index[[4,5,6]], axis=0).fillna('').T.reset_index().drop("index", axis=1)

df = pd.DataFrame()

df["produto"] = [nome_arquivo.split(" ")[0]]
df["rendimento"] = novo_df.iloc[2:3, 3:4].values[0].astype(str)
df["validade"] = novo_df.iloc[1:2, 4:].values[0].astype(str)

df

  produto rendimento validade
0       0          4      6.0

In [103]:
nome_arquivos: list[str] = [f for f in listdir("../dados/fichas") if isfile(join("../dados/fichas", f))]
validades = pd.DataFrame()

for nome_arquivo in nome_arquivos:
  arquivo_csv = pd.read_csv(f"../dados/fichas/{nome_arquivo}", sep=",", skiprows=4, nrows=8)

  novo_df = arquivo_csv.iloc[:, :3].drop(arquivo_csv.index[[4,5,6]], axis=0).fillna('').T.reset_index().drop("index", axis=1)

  df = pd.DataFrame()

  df["produto"] = [int(nome_arquivo.split(" ")[0])]
  df["rendimento"] = novo_df.iloc[2:3, 3:4].values[0].astype(str)
  df["validade"] = novo_df.iloc[1:2, 4:].values[0].astype(str)

  validades = pd.concat([validades, df])

validades = validades.sort_values(by=["produto"], ascending=True)
validades.set_index("produto", inplace=True, drop=True)
validades[["rendimento"]].values.astype(float).astype(int)

array([[6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [8],
       [8],
       [8],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6]])

In [306]:
arquivo_csv = pd.read_csv(f"../fichas/Ficha Formatada - Agua Perfumada Cereja e Avelã.csv", sep=",", skiprows=13, nrows=15)

novo_df = arquivo_csv.iloc[:, :1].dropna()
novo_df["codigo "] = novo_df["codigo "].astype(int)
novo_df_1 = arquivo_csv.iloc[:, 7:8].dropna().replace(',','.', regex=True).astype(float)
novo_df["Agua Perfumada Cereja e Avelã.csv"] = novo_df_1
novo_df.set_index('codigo ', drop=True, inplace=True)

novo_df.sort_index()

         Agua Perfumada Cereja e Avelã.csv
codigo
6                                   50.000
8                                  200.000
9                                  700.000
255                                  4.000
256                                  4.000
280                                 25.000
281                                 25.000
300                                  0.125
900                                  0.200

In [75]:
nome_arquivos: list[str] = [f for f in listdir("../dados/fichas") if isfile(join("../dados/fichas", f))]
ingrediente_produto = pd.DataFrame()

for nome_arquivo in nome_arquivos:
  arquivo_csv = pd.read_csv(f"../dados/fichas/{nome_arquivo}", sep=",", skiprows=13, nrows=15)

  novo_df = arquivo_csv.iloc[:, :1].dropna()
  novo_df["codigo "] = novo_df["codigo "].astype(int)
  novo_df_1 = arquivo_csv.iloc[:, 7:8].dropna().replace(',','.', regex=True).astype(float)
  novo_df[nome_arquivo.split(" ")[0]] = novo_df_1
  novo_df.set_index('codigo ', drop=True, inplace=True)

  novo_df.sort_index()
  
  ingrediente_produto = ingrediente_produto.merge(novo_df, left_index=True, right_index=True, how='outer')


ingrediente_produto.sort_index().fillna(0, inplace=True)

ingrediente_produto.T.rename_axis("produto").astype(str).replace('nan','0', regex=True)

codigo,1,2,3,4,5,6,8,9,10,11,...,274,275,276,277,280,281,282,300,301,900
produto,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,50.0,200.0,700.0,0,0,...,0,0,0,0,0,0,0,0.125,0,0.2
1,0,0,0,0,0,50.0,200.0,700.0,0,0,...,0,0,0,0,0,0,0,0.125,0,0.2
10,850.0,0,0,10.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,850.0,0,0,10.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,850.0,0,0,10.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,0,0,132.0,0,0,0,0,0,0,0,...,0,0,13.0,0,0,0,0,0.053,0,2.0
61,0,0,132.0,0,0,0,0,0,0,0,...,0,0,0,13.0,0,0,0,0.053,0,2.0
7,0,0,0,0,0,50.0,200.0,700.0,0,0,...,0,0,0,0,0,0,0,0.125,0,0.2
8,0,0,0,0,0,50.0,200.0,700.0,0,0,...,0,0,0,0,0,0,0,0.125,0,0.2
9,850.0,0,0,10.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [85]:
arquivo_csv = pd.read_csv(f"../dados/Vendas 2023 - Estoque.csv", sep=",")

novo_df = arquivo_csv
novo_df["ID"] = (range(0, len(novo_df)))
novo_df.set_index("ID", drop=True, inplace=True)

novo_df.drop(columns=['Preco', 'produtos']).values

array([[16, 10,  8, 19, 19, 20, 24,  5, 17, 16, 10, 18],
       [12,  6,  3, 12, 14,  9, 14,  3, 10,  8,  9, 13],
       [ 9,  5,  4, 10,  8,  7, 11,  3,  7,  9,  4, 12],
       [18,  9,  9, 22, 20, 20, 27,  8, 19, 16, 11, 23],
       [10,  8,  5, 11, 13, 12, 14,  4,  7, 10,  8, 12],
       [ 7,  4,  5, 10, 12, 10, 10,  4,  8,  5,  6,  9],
       [ 6,  9,  5,  7,  5,  9,  8,  6,  8,  4,  4,  7],
       [ 4,  2,  2,  7,  9,  5, 11,  3,  4,  6,  6,  8],
       [15, 10,  8, 17, 12, 18, 20,  7, 14, 12, 12, 19],
       [ 8,  7,  6,  7,  9,  8,  8,  5,  8,  3,  3,  7],
       [14,  8,  5, 14, 14, 12, 19,  8, 13,  9,  8, 14],
       [10,  9,  5, 14, 15, 15, 16,  8, 12,  9, 10, 15],
       [ 9,  6,  6, 10,  9, 11, 13,  5,  7,  7,  5, 11],
       [ 7,  4,  3,  7,  8,  8,  8,  3,  5,  3,  3,  8],
       [10,  5,  3, 10, 12, 10, 13,  4,  7,  7,  4,  8],
       [19,  8,  8, 23, 20, 19, 26,  7, 21, 17, 12, 25],
       [11,  9,  3, 12, 10, 11, 12,  6,  8, 10,  9, 13],
       [17,  8,  8, 19, 17, 16, 24,  8, 15, 16, 13, 17],
       [13, 11,  6, 14, 13, 16, 17,  8, 11, 13,  6, 15],
       [30, 13, 14, 35, 37, 33, 44, 15, 28, 25, 21, 33],
       [11,  8,  7, 14, 12, 15, 19,  4, 11, 10,  7, 14],
       [10,  2,  8, 12, 14,  9, 12,  5, 12, 11,  7, 14],
       [ 9,  9,  6, 10, 10, 11, 13,  6,  7,  6,  3,  9],
       [ 9,  5,  5, 12, 12, 13, 14,  4,  8,  9,  9, 11],
       [14, 12, 10, 19, 18, 16, 21,  6, 17, 13, 10, 18],
       [ 9,  7,  7, 11,  8, 10, 11,  5, 11,  7,  6,  9],
       [12,  6,  4, 14, 10, 15, 19,  4, 13,  9, 10, 13],
       [ 9,  3,  6,  8,  9,  8,  9,  4,  5,  7,  3, 10],
       [ 8,  6,  6, 12, 12, 13, 16,  5, 11,  8,  5, 10],
       [ 9,  3,  5, 10,  8,  9, 11,  3, 10,  6,  7, 10],
       [ 8,  7,  4, 10,  6,  9, 12,  5,  6,  5,  3,  9],
       [ 7,  5,  4, 10, 12,  7, 11,  5,  8,  6,  3, 12],
       [ 6,  3,  3, 10, 10, 11, 10,  3, 10,  9,  4,  9],
       [ 5,  5,  5,  7,  6,  5,  7,  4,  6,  6,  4,  9],
       [ 6,  5,  2,  6,  7,  8,  8,  2,  6,  5,  3,  7],
       [ 4,  2,  4,  5,  5,  5,  7,  5,  2,  4,  5,  3],
       [10,  7,  5, 10,  8, 11, 13,  7,  9,  7,  7, 11],
       [ 7,  6,  1,  7,  6,  7,  9,  6,  8,  7,  3,  8],
       [ 6,  4,  2,  5,  5,  6,  6,  4,  6,  5,  2,  4],
       [ 5,  4,  2,  5,  6,  6,  6,  3,  4,  6,  2,  5],
       [ 1,  4,  3,  4,  4,  5,  2,  0,  2,  4,  2,  5],
       [10,  5,  6, 10,  9, 10, 13,  6, 10,  7,  6,  9],
       [ 5,  7,  6,  7,  8,  6,  7,  5,  8,  5,  6,  9],
       [ 5,  6,  5,  6,  6,  5,  7,  4,  7,  7,  1,  4],
       [ 4,  6,  3,  2,  4,  2,  2,  2,  0,  2,  0,  0],
       [ 0,  1,  3,  5,  3,  1,  2,  1,  2,  0,  4,  5],
       [ 5,  3,  5,  1,  3,  6,  5,  1,  1,  4,  2,  4],
       [ 7,  3,  1,  1,  0,  0,  1,  0,  3,  3,  2,  3],
       [ 5,  3,  7,  4,  2,  3,  2,  5,  2,  3,  8,  4],
       [ 2,  2,  2,  6,  5,  6,  5,  3,  4,  5,  4,  7],
       [ 0,  1,  3,  2,  0,  2,  1,  3,  4,  0,  0,  3],
       [ 4,  0,  3,  4,  6,  1,  5,  3,  2,  5,  0,  4],
       [ 2,  1,  3,  1,  1,  0,  1,  1,  0,  3,  0,  0],
       [ 6,  5,  3,  4,  5,  7,  6,  4,  3,  3,  6,  6],
       [ 3,  0,  3,  4,  6,  2,  1,  3,  2,  5,  1,  6],
       [ 2,  4,  0,  4,  7,  3,  2,  1,  5,  3,  5,  6],
       [12,  6,  5, 12, 14, 11, 16,  6,  8, 10,  5, 13],
       [10,  6,  6, 14, 13, 13, 18,  8, 11, 11, 10, 15],
       [ 7,  5,  5, 10,  8, 10, 11,  6,  6,  9,  4, 10],
       [ 5,  4,  4,  8, 10,  8,  9,  5,  9,  5,  3,  9],
       [10,  7,  4, 11, 13,  8, 11,  5,  9,  7,  8,  9],
       [ 8,  8,  4, 10,  9,  8, 10,  3,  6,  5,  3, 12]])

In [106]:
arquivo_csv = pd.read_csv(f"../dados/MateriaPrima.csv", sep=",")

novo_df = arquivo_csv
novo_df.set_index('código', drop=True, inplace=True)
novo_df = novo_df.drop(columns=["Frete", "unidade", "Rendimento %", "Custo und.", "Produto"])

novo_df.values[0][0]

'16,34'