In [1]:
import pandas as pd

In [8]:
arquivo_csv = pd.read_csv("../input.csv", sep=",")

investimento = float(arquivo_csv["investimento"][0])
print(f'Investimento: {investimento}')

Investimento: 1000.0

In [9]:
tabela_ingrediente_produto = arquivo_csv.drop(labels=["investimento"], axis=1)
tabela_ingrediente_produto

,produto,ingrediente,quantidade_ingrediente_produto,custo_ingrediente,quantidade_produto_loja,quantidade_minima_produto_loja,quantidade_produto_encomendado
0,essencia_1,ingrediente_1,16,2.2,1,10,12
1,essencia_1,ingrediente_2,12,4.5,1,10,12
2,essencia_1,ingrediente_3,13,3.3,1,10,12
3,essencia_2,ingrediente_4,12,4.4,4,14,20
4,essencia_2,ingrediente_2,4,4.5,4,14,20
5,sabonete_1,ingrediente_1,2,2.2,2,8,18
6,sabonete_1,ingrediente_2,24,4.5,2,8,18
7,sabonete_2,ingrediente_1,10,2.2,1,20,24

In [10]:
tabela_produtos = tabela_ingrediente_produto.drop(labels=["ingrediente", "quantidade_ingrediente_produto", "custo_ingrediente"], axis=1).drop_duplicates()
tabela_produtos

,produto,quantidade_produto_loja,quantidade_minima_produto_loja,quantidade_produto_encomendado
0,essencia_1,1,10,12
3,essencia_2,4,14,20
5,sabonete_1,2,8,18
7,sabonete_2,1,20,24

In [12]:
for produto in tabela_produtos["produto"]:
  print(produto)

essencia_1
essencia_2
sabonete_1
sabonete_2